venv/
__pycache__/
output/
PRESENTATION.md
.DS_Store

# LaTeX build artifacts
Thesis_Paper/NoorMartini_Thesis.pdf
Thesis_Paper/*.aux
Thesis_Paper/*.fdb_latexmk
Thesis_Paper/*.fls
Thesis_Paper/*.log
Thesis_Paper/*.out
Thesis_Paper/*.synctex.gz
Thesis_Paper/*.toc
Thesis_Paper/images/*.aux
Thesis_Paper/images/*.log
Thesis_Paper/images/*.pdf
Thesis_Paper_2/*.pdf
Thesis_Paper_2/*.aux
Thesis_Paper_2/*.log
Thesis_Paper_2/*.fdb_latexmk
Thesis_Paper_2/*.fls
Thesis_Paper_2/*.out
Thesis_Paper_2/*.synctex.gz
Thesis_Paper_2/*.toc
Thesis_Paper_2/*.bbl
Thesis_Paper_2/*.bcf
Thesis_Paper_2/*.blg
Thesis_Paper_2/*.run.xml
Thesis_Paper_2/*.acn
Thesis_Paper_2/*.acr
Thesis_Paper_2/*.alg
Thesis_Paper_2/*.glg
Thesis_Paper_2/*.glo
Thesis_Paper_2/*.gls
Thesis_Paper_2/*.glsdefs
Thesis_Paper_2/*.idx
Thesis_Paper_2/*.ilg
Thesis_Paper_2/*.ind
Thesis_Paper_2/*.ist
Thesis_Paper_2/*.loc
Thesis_Paper_2/*.lof
Thesis_Paper_2/*.lol
Thesis_Paper_2/*.lot
Thesis_Paper_2/*.mw
Thesis_Paper_2/*.slo
Thesis_Paper_2/*.soc
Thesis_Paper_2/*.syg
Thesis_Paper_2/*.xdy

writing rules
codenotes.md
TODO.md
